
{% block content %}

  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>DataHora</th>
          <th>Paciente</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% if object_list %}
            {% for consulta in consultas %}
                <tr>
                <td >{{ consulta.dtHoraInicial }}      </td>
                <td >  <a href="{% url '/consulta/atender/1'  %}">paciente</a> </td>
                <td >{{ consulta.situacaoConsulta }}  </td>
                <td > {{ consulta.get_situacaoConsulta_display }}             </td>
                </tr>
            {% endfor %}
      {% else %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">nenhuma consulta encontrada.</td>
          </tr>

      {% endif %}

      </tbody>
    </table>
  </div>
{% endblock %}
